<div class="container-fluid">
    <div class="row partido">
        <div class="col-xs-12">
            <h2>PSDB</h2>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/alckmin.jpeg" alt="Geraldo Alckmin" class="img-responsive img-rounded">
            <h5>Geraldo Alckmin</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <img src="img/aecio.jpg" alt="Aécio Neves" class="img-responsive img-rounded">
            <h5>Aécio Neves da Cunha</h5>
            <a href="#">Planilha</a>
        </div>
    </div>
</div>