<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="/partido">
                <div class="form-group">
                    <label for="sigla">Sigla do partido</label>
                    <input type="text" name="sigla" id="sigla" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>