<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="/politico" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control">
                </div>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input type="file" name="foto" id="foto" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" id="estado" class="form-control">
                </div>
                <div class="form-group">
                    <label for="partido">Partido</label>
                    <select name="partido" id="partido" class="form-control">
                        {{#each data.partidos}}
                        <option value="{{sigla}}">{{sigla}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" name="link" id="link" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>